body {
    background-color: rgb(154, 156, 165);
    position: relative;
    font-family: 'Times New Roman', Times, serif
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -300px;

}

.search-box {
    margin-left: 33px;
}

.recent-searches-panel {
    padding-top: 50px;
}


#current-weather {
    position: absolute;
    top: 100px;
    right: 875px;
}

#forecast {
    display: flex;
    margin-top: 75px;
    margin-right: -700px;
    justify-content: center;
}

#recent-searches {
    font-size: 150%;
    display: flex;
    flex-direction: column;

}